<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniGeoTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MiniGeoTool.Properties.Settings>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowActualWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowActualHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BatchWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BatchWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BatchWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BatchWindowTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BatchWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
        </MiniGeoTool.Properties.Settings>
    </userSettings>
</configuration>